
:root{
  --primary-light: #4acaa8;
  --primary-dark: #2c3e50;
}
/*************************************************
*  Preloader
**************************************************/


/*************************************************
*  Button Primary: Color Override for using <a class="btn btn-primary btn-outline btn-xs" href="https://github.com/rshivansh/Neural-Machine-Translation">
Details
</a>
**************************************************/

.btn-primary {
  border-color: #0095eb;
  line-height: 6px;
  padding:5px;    
  margin: 0.5;
  border-bottom: 1px solid black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #0095eb;
}

/*************************************************
*  Button Outlines
**************************************************/

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #0095eb;
  border-color: #0095eb;
}

.btn-success.btn-outline {
  color: #5cb85c; 
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}


/*************************************************
*  Fancy Horizontal ruler in navbar change content="" to see other icon in between
**************************************************/
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 3px;
  text-align: center;
  max-width: 300px;
  margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f05b";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.2em;
  padding: 0 0.25em;
}

hr.star-light {
  border-color:  #343a40;
}

hr.star-light:after {
  background-color: #fff;
  color: #343a40;
}

hr.star-primary {
  border-color:  #343a40;
}

hr.star-primary:after {
  background-color: white;
  color:  #343a40;
}

/*************************************************
*  Toggler New hamburger to cross
**************************************************/

.animated-icon1{
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: var(--primary-light);
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*************************************************
*  Dropdown
**************************************************/
.dropdown:hover>.dropdown-menu{
    display: block;
}
/*************************************************
*  Quotebox
**************************************************/
.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}

.otro-blockquote{
  font-size: 15px;
  width:100%;
  margin:50px 0 10px 0; /*To set space above and below quotebox*/
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid var(--primary-light);
  line-height:1.6;
  position: relative;
  background: #fff;/*#EDEDED*/
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:var(--primary-light);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/*************************************************
*  Scroll Indicator
**************************************************/
.scroll-line {
  margin: 0px;
  padding: 0px; 
  position: fixed; 
  top: 0px; 
  z-index: 99;
  background-color: var(--primary-light); 
  height: 4px; 
  transition: null 0.2s ease-out 0s; 
  width: 0%;
}
/*************************************************
*  Scrollbar Design
**************************************************/
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  width: 6px;
  border-radius: 10px;
  background-color: var(--primary-dark);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*************************************************
*  Navbar reapper on scroll up -- To use this add id="navbar"  in <nav> and change position: fixed; in bootstrap .navbar{} 
**************************************************/
#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/*************************************************
*  Card Hover Effect
**************************************************/
.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

/*************************************************
*  For Images
**************************************************/

.flex-container {
  display: flex;
}